
.tabs {
  font-family: 'Montserrat', sans-serif;
  overflow: visible;
  border-bottom: 2px #dbdbdb solid;

  &.tabs li a {
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.years-dropdown {
  flex: 0 0 150px !important;

  .dropdown {
    padding: 0 1em;

    &,
    &-trigger,
    &-trigger button {
      width: 100%;
      outline: none;
    }

    &-trigger button > span + span {
      display: none;
    }

    &-trigger.dropdown-trigger button:hover,
    & .dropdown-menu {
      background: transparent;
      width: 100%;
      left: auto;
    }

    &-trigger.dropdown-trigger button,
    &-trigger.dropdown-trigger button *,
    & .dropdown-menu,
    & .dropdown-menu * {
      font-family: 'Montserrat', sans-serif;
      text-decoration: none;
      font-size: 20px;
    }

    & .dropdown-content {
      padding: 0;
      width: 150px;
      margin: auto;

      .dropdown-item {
        width: 150px;
      }
    }
  }
}

.column {
  display: flex;
}

.award {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: -1.25rem 0.75rem;

  &-title.award-title {
    margin-bottom: 3rem;
  }

  &-container {
    position: relative;
    margin-top: 2rem;

    &:nth-child(1) .award,
    &:nth-child(1) .card {
      background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }
    &:nth-child(2) .award,
    &:nth-child(2) .card {
      background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    }
    &:nth-child(3) .award,
    &:nth-child(3) .card {
      background-image: linear-gradient(to right, #6ce6ff 0%, #a1f6ed 100%);
    }
    &:nth-child(4) .award,
    &:nth-child(4) .card {
      background-image: linear-gradient(to right, #d0bff0, #fbc7d4);
    }
  }
}
